body {
  background-color: #c10000;
}

/* Navigation Bar */

#nav-title::first-letter {
  color: #c10000;
}

#nav-tittle {
  font-family: "Zilla Slab", serif;
}

.navbar {
  padding: 1rem 17.5rem 2rem;
  font-family: "Montserrat";
}

.navbar-brand {
  font-size: 2.5rem;
  font-weight: bold;
  font-family: "Courier New", Courier, monospace;
}

.nav-item {
  padding: 0 18px;
}
.nav-link {
  font-size: 1.3rem;
}

/* Main Title */

.main-title {
  padding: 240px 50%;
  text-align: right;
  background-image: url("/images/minas.jpg");
}

.main-title h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 4.5rem;
  display: inline-block;
}

#instruments-section {
  background-color: #f0fff3;
  padding: 150px;
}

/* About */

.red-container {
  background-color: #c10000;
  color: white;
  padding: 75px 12px;
}
.second-tittle {
  font-family: "Montserrat", sans-serif;
  font-size: 3rem;
  font-weight: 200;
  text-align: center;
}

/* Instrumentos */

.instrumentos-mini-img {
  width: 16rem;
}

.instrumentos-img {
  width: 65rem;
}

.btn-soundFonts {
  color: #c10000;
  border-color: #c10000;
}
.btn-soundFonts:hover {
  background-color: #c10000;
  border-color: #c10000;
}
